.hero{
  background: url("../images/office-small@1x.jpg")center/cover no-repeat;


  min-height: 400px;

}

@media (min-resolution: 192dpi){

  .hero{
    background-image: url("../images/office-small@2x.jpg");
  }

}

@media screen and (min-width: 600px) {

  .hero{
    background-image: url("../images/office@1x.jpg");
  }

  @media (min-resolution: 192dpi){
    .hero{
      background-image: url("../images/office@2x.jpg");
    }
  }


}






