


nav{

  display: flex;
  justify-content: space-between;


  .btn-menu{
    display: none;
  }

  .logo{
    background: url("../images/coffee-cup.svg") center no-repeat;

    width: 60px;
    height: 60px;

    display: block;
  }



  ul{
    display: flex;

    list-style: none;
    padding: 0;



    a{
      padding: rem(12);
    }



  }
}



